<div style="background:white;">
<%= form_for [:admin, @song] do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <p class="field">
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </p>
  <p class="field">
    <%= f.label "Artist" %><br />
    <%= f.collection_select(:artist_id, @artists, :id, :name, :include_blank => "")%>
  </p>
  <p class="field">
    <%= f.label "Album" %><br />
    <%= f.collection_select(:album_id, @albums, :id, :name, :include_blank => "")%>
  </p>
  <p class="field">
    <%= f.label "Record Label" %><br />
    <%= f.text_field :record_label %>
  </p>
  <p class="field">
    <%= f.label "Slug" %><br />
    <%= f.text_field :slug %>
  </p>
  <p class="field">
    <%= f.label "Key" %><br />
    <%= f.text_field :key %>
  </p>
  <p class="field">
    <%= f.label "Lyrics (raw)" %><br />
    <%= f.text_area :lyrics_raw %>
  </p>
  <p class="field">
    <%= f.label "Lyrics (signature line)" %><br />
    <%= f.text_area :lyrics_signature %>
  </p>
  <p class="field">
    <%= f.label "Lyrics (text)" %><br />
    <%= f.text_area :lyrics_text %>
  </p>
  <p class="field">
    <%= f.label "Lyrics (HTML, mono)" %><br />
    <%= f.text_area :lyrics_html_mono %>
  </p>
  <p class="field">
    <%= f.label "Notes & Tabs" %><br />
    <%= f.text_area :notes %>
  </p>
  <p class="field">
    <%= f.label "Chords Progressions" %><br />
    <%= f.text_area :chords %>
  </p>
  <hr />
  <p class="field">
    <%= f.label "URL Wikipedia" %><br />
    <%= f.text_field :url_wikipedia %>
  </p>
  <p class="field">
    <%= f.label "URL YouTube (Official)" %><br />
    <%= f.text_field :url_youtube_official %>
  </p>
  <p class="field">
    <%= f.label "URL Rdio" %><br />
    <%= f.text_field :url_rdio %>
  </p>
  <hr />
  <p class="field">
    <%= f.label "Published?" %>
    <%= f.radio_button :published, true %>
    <%= f.label :published, 'True', :value => 'True', :class => "radio_label" %>
    <%= f.radio_button :published, false %>
    <%= f.label :published, 'False', :value => 'False', :class => "radio_label" %>
  </div>
  <p class="field">
    <%= f.label "Has repeated chords?" %>
    <%= f.radio_button :repeated_chords, true %>
    <%= f.label :repeated_chords, 'True', :value => 'True', :class => "radio_label" %>
    <%= f.radio_button :repeated_chords, false %>
    <%= f.label :repeated_chords, 'False', :value => 'False', :class => "radio_label" %>
  </p>
  <hr />
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
</div>