<div class="admin">
  <% unless notice.blank? %>
    <p style="background:yellow; padding: 12px 15px;"><%= notice %></p>
  <% end %>

  <h1>Songs</h1>
  <p style="font-size: 16px;">You have <%= @songs.count %> published songs.</p>
  <p style="margin:20px 0"><%= link_to 'Add New Song', new_admin_song_path, :class => 'btn' %></p>

  <table>
    <tr>
      <th><%= sortable "title" %></th>
      <th>Artist</th>
      <th width="60"><%= sortable "year" %></th>
      <th>Album</th>
      <th width="100"><%= sortable "created_at" %></th>
      <th><%= sortable "record_label","Record label" %></th>
      <th width="60"></th>
    </tr>

  <% @songs.each do |song| %>
    <tr>
      <td><strong><%= link_to song.title, edit_admin_song_path(song) %></strong></td>
      <td><%= song.artist.blank? ? "--" : song.artist.name %></td>
      <td><%= song.year %></td>
      <td><%= song.album.blank? ? "--" : song.album.name %></td>
      <td><%= song.created_at.strftime("%b %e, %Y") %></td>
      <td><%= song.record_label? ? song.record_label : "--" %></td>
      <td><%= button_to "delete", [:admin, song], :method => :delete, :class => :destroy %></td>
    </tr>
  <% end %>
  </table>

  <p style="margin:20px 0"><%= link_to 'Add New Song', new_admin_song_path, :class => 'btn' %></p>

</div>