<%= form_for(@song) do |f| %>
  <% if @song.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@song.errors.count, "error") %> prohibited this song from being saved:</h2>

      <ul>
      <% @song.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label "Published?" %>
    <%= f.radio_button :published, true %>
    <%= f.label :published, 'True', :value => 'True', :class => "radio_label" %>
    <%= f.radio_button :published, false %>
    <%= f.label :published, 'False', :value => 'False', :class => "radio_label" %>
  </div>
  <div class="field">
    <%= f.label "Has repeated chords?" %>
    <%= f.radio_button :repeated_chords, true %>
    <%= f.label :repeated_chords, 'True', :value => 'True', :class => "radio_label" %>
    <%= f.radio_button :repeated_chords, false %>
    <%= f.label :repeated_chords, 'False', :value => 'False', :class => "radio_label" %>
  </div>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :artist %>
    <%= f.text_field :artist %>
  </div>
  <div class="field">
    <%= f.label :year %>
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :album %>
    <%= f.text_field :album %>
  </div>
  <div class="field">
    <%= f.label "Record Label" %>
    <%= f.text_field :record_label %>
  </div>
  <div class="field">
    <%= f.label "Lyrics (text)" %>
    <%= f.text_area :lyrics_text %>
  </div>
  <div class="field">
    <%= f.label "Lyrics (HTML, mono)" %>
    <%= f.text_area :lyrics_html_mono %>
  </div>
  <div class="field">
    <%= f.label "Chords" %>
    <%= f.text_area :chords %>
  </div>  
  <div class="field">
    <%= f.label "Notes" %>
    <%= f.text_area :notes %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
