<%= render "shared/admin_nav" %>

<div class="full-bleed wrap-color-white admin">
  <div class="content">

    <% unless notice.blank? %>
      <p style="background:yellow; padding: 12px 15px;"><%= notice %></p>
    <% end %>

    <h1>Songs</h1>
    <p style="font-size: 16px;">You have <%= @songs.count %> published songs.</p>
    <p style="margin:20px 0"><%= link_to 'Add New Song', new_song_path, :class => 'btn' %></p>

    <table>
      <tr>
        <th><%= sortable "title" %></th>
        <th>Artist</th>
        <th><%= sortable "year" %></th>
        <th>Album</th>
        <th><%= sortable "created_at" %></th>
        <th><%= sortable "record_label","Record label" %></th>
        <th></th>
      </tr>

    <% @songs.each do |song| %>
      <tr>
        <td><strong><%= link_to song.title, edit_song_path(song) %></strong></td>
        <td><%= song.artist.blank? ? "--" : song.artist.name %></td>
        <td><%= song.year %></td>
        <td><%= song.album.blank? ? "--" : song.album.name %></td>
        <td><%= song.created_at.strftime("%b %e, %Y") %></td>
        <td><%= song.record_label? ? song.record_label : "--" %></td>
        <td><%= link_to 'Delete', admin_url, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <p style="margin:20px 0"><%= link_to 'Add New Song', new_song_path, :class => 'btn' %></p>

  </div> <!-- end: .content -->
</div> <!-- end: .full-bleed -->