<div style="padding: 20px;">
    <h1>You have <span style="background:yellow"><%= @songs.count %></span> published songs</h1>

    <p style="margin:20px 0"><%= link_to 'Add New Song', new_song_path %></p>

    <table>
      <tr>
        <th><%= sortable "title" %></th>
        <th><%= sortable "artist" %></th>
        <th><%= sortable "year" %></th>
        <th><%= sortable "album" %></th>
        <th><%= sortable "record_label","Record label" %></th>
        <th colspan="3"></th>
      </tr>

    <% @songs.each do |song| %>
      <tr>
        <td><%= song.title %></td>
        <td><%= song.artist %></td>
        <td><%= song.year %></td>
        <td><%= song.album %></td>
        <td><%= song.record_label? ? song.record_label : "--" %></td>
        <td><%= link_to 'View', song_details_url(:id => song.id) %></td>
        <td><%= link_to 'Edit', edit_song_path(song) %></td>
        <td><%= link_to 'Delete', song_details_url(:id => song.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />
</div>