<div style="padding: 20px;">
    <p style="background:yellow; padding: 12px 15px;"><%= notice %></p>
    <h1>You have <span style="background:green;color:white;"><%= @songs.count %></span> published songs</h1>

    <p style="margin:20px 0"><%= link_to 'Add New Song', new_song_path %></p>

    <table>
      <tr>
        <th><%= sortable "title" %></th>
        <th><%= sortable "artist" %></th>
        <th><%= sortable "year" %></th>
        <th><%= sortable "album" %></th>
        <th><%= sortable "record_label","Record label" %></th>
        <th></th>
      </tr>

    <% @songs.each do |song| %>
      <tr>
        <td><strong><%= link_to song.title, edit_song_path(song) %></strong></td>
        <td><%= song.artist %></td>
        <td><%= song.year %></td>
        <td><%= song.album %></td>
        <td><%= song.record_label? ? song.record_label : "--" %></td>
        <td><%= link_to 'Delete', song_details_url(:id => song.id), method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
    </table>

    <br />
</div>