<ul class="directory">
  <% @songs.each do |song| %>
  <li>
    <a href="<%= song_details_url(:id => song.id) %>">
      <strong><%= song.title %></strong>
      <%= song.artist %> &bull; <%= song.year %>
    </a>
  </li>
  <% end %>
</ul>

<p><%= link_to "admin", admin_url %></p>