<div class="bucket" style="border:none;">
  <h1>Songnotes</h1>
  <p style='margin: 20px 0 10px;'>Hand-crafted guitar tabs, chords, and lyrics all made by a <a href="http://twitter.com/davidpots">single person</a> who cares about good design.</p>
  <p>Keep posted of song additions (or make a tab request!) by following Songnotes on <a href="http://www.twitter.com/playsongnotes">Twitter</a>.

  <hr /><br />

  <ul class="sorter_nav">
    <li class="key">sort songs by:</li>
    <li class="<% if @nav == 'created_at' %>active<% end %>"><%= link_to "date added", :sort => "created_at", :direction => "ASC" %></li>
    <li class="<% if @nav == 'title' %>active<% end %>"><%= link_to "title", :sort => "title", :direction => "ASC" %></li>
    <li class="<% if @nav == 'year' %>active<% end %>"><%= link_to "year", :sort => "year", :direction => "DESC" %></li>
    <li class="<% if @nav == 'artist' %>active<% end %>"><%= link_to "artist", :sort => "artist", :direction => "ASC" %></li>
  </ul>

  <% if @nav == 'artist' %>

    <% @songs_by_artist.sort.each do |artist, songs| %>
      <ul class="directory">
        <h2><%= artist %></h2>
        <% for song in songs %>
          <li>
            <%= link_to(song) do %>
              <strong><%= song.title %></strong>
              <%= song.artist %> &bull; <%= song.year %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  <% elsif @nav == 'year' %>

    <% @songs_by_year.each do |year, songs| %>
      <ul class="directory">
        <h2><%= year %>s</h2>
        <% for song in songs %>
          <li>
            <%= link_to(song) do %>
              <strong><%= song.title %></strong>
              <%= song.artist %> &bull; <%= song.year %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% end %>

  <% elsif @nav == 'created_at' %>
      <ul class="directory">
    <% @songs_by_created_at.each do |created_at, songs| %>
        <% for song in songs %>
          <li>
            <%= link_to(song) do %>
              <strong><%= song.title %></strong>
              <%= song.artist %> &bull; <%= song.year %>
            <% end %>
            <% if song.created_at > 10.days.ago %>
              <h1>NEW</h1>
            <% end %>
          </li>
        <% end %>
    <% end %>
      </ul>
      
  <% elsif @nav == 'title' %>

      <ul class="directory">
    <% @songs_by_title.each do |first_letter, songs| %>
        <h2><%= first_letter %></h2>
        <% for song in songs %>
          <li>
            <%= link_to(song) do %>
              <strong><%= song.title %></strong>
              <%= song.artist %> &bull; <%= song.year %>
            <% end %>
          </li>
        <% end %>
    <% end %>
      </ul>

  <% end %>
</div>