  <div class="browse_nav">
    <div class="container">
      <div class="browse_nav_wrap_outer">
        <ul class="browse_nav_wrap">
          <li class="home"><%= link_to "home", root_url %></li>
          <li class="browse_links">
            <ul>
              <li class="<% if @nav == 'title' %>active<% end %>"><%= link_to "by title", :sort => "title", :direction => "ASC" %></li>
              <li class="<% if @nav == 'artist' %>active<% end %>"><%= link_to "by artist", :sort => "artist", :direction => "ASC" %></li>
              <li class="<% if @nav == 'year' %>active<% end %>"><%= link_to "by year", :sort => "year", :direction => "DESC" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
  <div class="buffer">
<br /><br /><br />
    <% if @nav == 'artist' %>

      <% @songs_by_artist.sort.each do |artist, songs| %>
          <h3 class="bucket_head"><%= artist %></h3>
          <ul class="tiles">
          <% for song in songs %>
            <li class="arrow <% if song.created_at > 10.days.ago %>new<%end%>">
              <%= link_to(song, :class => "tile") do %>
                <h1><%= song.title %></h1>
                <h3><%= song.year %></h3>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% end %>

    <% elsif @nav == 'year' %>

      <% @songs_by_year.each do |year, songs| %>

        <div class="dir_chunk">
          <h3 class="bucket_head"><%= year %></h3>
          <ul class="tiles">
          <% for song in songs %>
            <li class="arrow">
              <%= link_to(song, :class => "tile") do %>
                <h1><%= song.title %></h1>
                <h3><%= song.artist %></h3>
              <% end %>
            </li>
          <% end %>
          </ul>

      <% end %>
      
    <% elsif @nav == 'title' %>

      <% @songs_by_title.each do |first_letter, songs| %>
          <h3 class="bucket_head"><%= first_letter %></h3>
          <ul class="tiles">
          <% for song in songs %>
            <li class="arrow">
              <%= link_to(song, :class => "tile") do %>
                <h1><%= song.title %></h1>
                <h3><%= song.artist %></h3>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% end %>

    <% end %>
  </div> <!-- end: .buffer -->
</div> <!-- end: .container -->