<h1>Listing songs</h1>

<h4>if you want <%= link_to "go to the directory", song_directory_path %></h4>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Year</th>
    <th>Album</th>
    <th>Text</th>
    <th>HTML (mono)</th>
    <th>HTML (custom)</th>
    <th>Published</th>
    <th colspan="3"></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.year %></td>
    <td><%= song.album %></td>
    <td><%= song.lyrics_text.present? ? "yes" : "--" %></td>
    <td><%= song.lyrics_html_mono.present? ? "yes" : "--" %></td>
    <td><%= song.lyrics_html_custom.present? ? "yes" : "--" %></td>
    <td><%= song.published? ? "yes" : "no" %></td>
    <td><%= link_to 'View', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>