  <div class="browse_nav">
    <div class="container">
      <div class="browse_nav_wrap_outer">
        <ul class="browse_nav_wrap">
          <li class="home"><%= link_to "home", root_url %></li>
          <li class="browse_links">
            <ul>
              <li class="<% if @nav == 'title' %>active<% end %>"><%= link_to "by title", :sort => "title", :direction => "ASC" %></li>
              <li class="<% if @nav == 'artist' %>active<% end %>"><%= link_to "by artist", :sort => "artist", :direction => "ASC" %></li>
              <li class="<% if @nav == 'year' %>active<% end %>"><%= link_to "by year", :sort => "year", :direction => "DESC" %></li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>

<div class="container">
  <div class="buffer">
<br /><br /><br />
    <% if @nav == 'artist' %>

      <% @songs_by_artist.sort.each do |artist, songs| %>
          <h2><%= artist %></h2>
          <ul class="rows">
          <% for song in songs %>
            <li class="arrow <% if song.created_at > 10.days.ago %>new<%end%>">
              <%= link_to(song, :class => "row") do %>
                <strong><%= song.title %> <% if song.created_at > 10.days.ago %><div class="right">new</div><% end %></strong>
                <div class="sub"><%= song.year %></div>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% end %>

    <% elsif @nav == 'year' %>

      <% @songs_by_year.each do |year, songs| %>

        <div class="dir_chunk">
          <h2><%= year %></h2>
          <ul class="rows">
          <% for song in songs %>
            <li class="arrow <% if song.created_at > 10.days.ago %>new<%end%>">
              <%= link_to(song, :class => "row") do %>
                <strong><%= song.title %></strong>
                <div class="sub"><%= song.artist %></div>
                <% if song.created_at > 10.days.ago %>
                  <div class="right">new</div>
                <% end %>     
              <% end %>
            </li>
          <% end %>
          </ul>

      <% end %>
      
    <% elsif @nav == 'title' %>

      <% @songs_by_title.each do |first_letter, songs| %>
          <h2><%= first_letter %></h2>
          <ul class="rows">
          <% for song in songs %>
            <li class="arrow <% if song.created_at > 10.days.ago %>new<%end%>">
              <%= link_to(song, :class => "row") do %>
                <strong><%= song.title %></strong>
                <div class="sub"><%= song.artist %></div>
                <% if song.created_at > 10.days.ago %>
                  <div class="right">new</div>
                <% end %>     
              <% end %>
            </li>
          <% end %>
          </ul>
      <% end %>

    <% end %>
  </div> <!-- end: .buffer -->
</div> <!-- end: .container -->