<h1>Listing songs</h1>

<h4>if you want <%= link_to "go to the directory", song_directory_path %></h4>

<table>
  <tr>
    <th>Title</th>
    <th>Artist</th>
    <th>Year</th>
    <th>Album</th>
    <th>Text</th>
    <th>HTML (mono)</th>
    <th>Notes</th>
    <th>Chords</th>
    <th>Repeated Chords</th>
    <th>Published</th>
    <th>Record Label</th>
    <th colspan="3"></th>
  </tr>

<% @songs.each do |song| %>
  <tr>
    <td><%= song.title %></td>
    <td><%= song.artist %></td>
    <td><%= song.year %></td>
    <td><%= song.album %></td>
    <td><%= song.lyrics_text.present? ? "yes" : "--" %></td>
    <td><%= song.lyrics_html_mono.present? ? "yes" : "--" %></td>
    <td><%= song.notes.present? ? "yes" : "--" %></td>
    <td><%= song.chords.present? ? "yes" : "--" %></td>
    <td><%= song.repeated_chords? ? "yes" : "no" %></td>
    <td><%= song.published? ? "yes" : "no" %></td>
    <td><%= song.record_label? ? song.record_label : "--" %></td>
    <td><%= link_to 'View', song %></td>
    <td><%= link_to 'Edit', edit_song_path(song) %></td>
    <td><%= link_to 'Delete', song, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Song', new_song_path %>

<br /><br /><br /><br />

<h1 style="background:#000;color:#fff; text-align:center; padding: 10px 0;">0px Letter Spacing</h1>
<hr />
<p>24px Font</p>
<pre style="font-size: 24px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>21px Font</p>
<pre style="font-size: 21px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>18px Font</p>
<pre style="font-size: 18px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>16px Font</p>
<pre style="font-size: 16px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>15px Font</p>
<pre style="font-size: 15px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>14px Font</p>
<pre style="font-size: 14px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>13px Font</p>
<pre style="font-size: 13px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>12px Font</p>
<pre style="font-size: 12px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>11px Font</p>
<pre style="font-size: 11px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>10px Font</p>
<pre style="font-size: 10px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>9px Font</p>
<pre style="font-size: 9px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>8px Font</p>
<pre style="font-size: 8px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<h1 style="background:#000;color:#fff; text-align:center; padding: 10px 0;">-1px Letter Spacing</h1>
<hr />
<p>24px Font</p>
<pre style="letter-spacing: -1px;font-size: 24px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>21px Font</p>
<pre style="letter-spacing: -1px;font-size: 21px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>18px Font</p>
<pre style="letter-spacing: -1px;font-size: 18px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>16px Font</p>
<pre style="letter-spacing: -1px;font-size: 16px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>15px Font</p>
<pre style="letter-spacing: -1px;font-size: 15px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>14px Font</p>
<pre style="letter-spacing: -1px;font-size: 14px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>13px Font</p>
<pre style="letter-spacing: -1px;font-size: 13px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>12px Font</p>
<pre style="letter-spacing: -1px;font-size: 12px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>11px Font</p>
<pre style="letter-spacing: -1px;font-size: 11px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>10px Font</p>
<pre style="letter-spacing: -1px;font-size: 10px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>9px Font</p>
<pre style="letter-spacing: -1px;font-size: 9px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>8px Font</p>
<pre style="letter-spacing: -1px;font-size: 8px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<h1 style="background:#000;color:#fff; text-align:center; padding: 10px 0;">-2px Letter Spacing</h1>
<hr />
<p>24px Font</p>
<pre style="letter-spacing: -2px;font-size: 24px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>21px Font</p>
<pre style="letter-spacing: -2px;font-size: 21px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>18px Font</p>
<pre style="letter-spacing: -2px;font-size: 18px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>16px Font</p>
<pre style="letter-spacing: -2px;font-size: 16px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>15px Font</p>
<pre style="letter-spacing: -2px;font-size: 15px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>14px Font</p>
<pre style="letter-spacing: -2px;font-size: 14px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>13px Font</p>
<pre style="letter-spacing: -2px;font-size: 13px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>12px Font</p>
<pre style="letter-spacing: -2px;font-size: 12px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>11px Font</p>
<pre style="letter-spacing: -2px;font-size: 11px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>10px Font</p>
<pre style="letter-spacing: -2px;font-size: 10px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>9px Font</p>
<pre style="letter-spacing: -2px;font-size: 9px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>
<hr />
<p>8px Font</p>
<pre style="letter-spacing: -2px;font-size: 8px;">1 3 5 7 9 12 15 18 21 24 27 30 33 36 39 42 45 48 51 54 57 60 63 66 69 72 75 78 <strong style="color:white;background:red;">81</strong> 84 87 90 93 96 99 102 105 108 111 114 117 120</pre>