<div class="bucket" style="border:none;">
  <h1 class="title">SONGNOTES</h1>
  <p class="title">hand-crafted guitar tabs from <a href="http://twitter.com/davidpots">@davidpots</a></p>
  <p><%= link_to "go to admin", admin_url %></p>
  <ul class="directory">
    <% @songs.each do |song| %>
    <li>
      <%= link_to(song) do %>
        <strong><%= song.title %></strong>
        <%= song.artist %> &bull; <%= song.year %>
      <% end %>
    </li>
    <% end %>
  </ul>
  <p style="text-align: center;"><strong>More coming soon.</strong></p>
  <p style="text-align: center;">Is there a specific song you'd like to see added?<br /><a href="http://twitter.com/davidpots" target="_blank">Tweet at me</a> and I'll make it happen.</p>
</div>