<% title "'#{@song.title}' by #{@song.artist.name} - Chords, Lyrics, and Guitar Tabs from Songnotes" %>
<% description "Learn how to play #{@song.title} by #{@song.artist.name}. Chords, lyrics, and guitar tabs all crafted with care by Songnotes. This song is heard on the album '#{@song.album.name}' released in #{@song.year}." %>
<% fb_img "#{@artist_img_dir}#{@song.artist.image_url}" %>

<%# ----- Song Header ----- %>
<img src="<%= @artist_img_dir + @song.artist.image_url %>" />
<%= @song.title %>
<%= @song.artist.name %>
<%= @song.album.name %>
<%= @song.year %>

<%# ----- Song Secondary Nav ----- %>
<ul>
  <li><a class="active" href="#lyrics">Lyrics</a></li>
  <% if @song.notes.present? %>
    <li><a href="#notes_tabs">Notes &amp; Tabs</a></li>
  <% end %>
  <% if @song.listenplay.present? %>
    <li><a href="#videos">Videos</a></li>
  <% end %>
  <% if @song.chords.present? %>
    <li><a href="#chord_progressions">Chord Progressions</a></li>
  <% end %>
  <li><a href="#song_info">Song Info</a></li>
</ul>

<%# ----- Lyrics ----- %>
<% if @song.lyrics_html_mono.present? %>
  <%= (@song.lyrics_html_mono).html_safe %>
<% end %>

<%# ----- Notes and Tabs ----- %>
<% if @song.notes.present? %>
  <%= (@song.notes).html_safe %>
<% end %>

<%# ----- Videos ----- %>
<% if @song.listenplay.present? %>
  <%= (@song.listenplay).html_safe %>
<% end %>

<%# ----- Chord Progressions ----- %>
<% if @song.chords.present? %>
  <%= (@song.chords).html_safe %>
<% end %>

<%# ----- About Song ----- %>
<p>
  <strong>Song: </strong><%= @song.title %><br />
  <strong>Artist: </strong><%= @song.artist.name %><br />
  <strong>Album: </strong><%= @song.album.present? ? @song.album.name : "--" %><br />
  <strong>Year: </strong><%= @song.year %><br />
  <strong>Label: </strong><%= @song.record_label.present? ? @song.record_label : "--" %>
</p>



<%# ----- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * ----- %>



<%# ----- Recent Songs ----- %>
<ul>
  <% @recent_songs.each do |song| %>
  <li>
    <a href="<%= song_url(song) %>" style="background-image: url(<%= @artist_img_dir + song.artist.image_url %>);">
      <%= song.title %>
      <%= song.artist.name %>
    </a>
  </li>
  <% end %>
</ul>

<%# ----- Browse All Songs ----- %>
  
<ul>
  <% @songs.each do |song| %>
  <li>
    <a href="<%= song_url(song) %>" style="background-image: url(<%= @artist_img_dir + song.artist.image_url %>);">
      <%= song.title %>
      <%= song.artist.name %>
    </a>
  </li>
  <% end %>
</ul>

<%# ----- About Songnotes ----- %>

<a href="https://plus.google.com/u/0/106167658091550641205" rel="author">David Potsiadlo</a>
<a href="http://twitter.com/_songnotes">Twitter</a>
<a href="http://facebook.com/songnotes">Facebook</a>
<a href="http://www.youtube.com/user/playsongnotes">YouTube</a>
<a href="https://plus.google.com/+songnotesCC" rel="publisher">Google+</a>

<p style="margin-right: 10px; float: left;"><a href="https://twitter.com/_songnotes" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @davidpots</a></p>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

<div class="fb-like" style="margin-bottom: 20px;" data-href="http://www.facebook.com/songnotes" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui" data-action="recommend"></div>