<% title "'#{@song.title}' by #{@song.artist.name} - Chords, Lyrics, and Guitar Tabs from Songnotes" %>

<% if @song.album.present? %>
  <% description "Learn how to play #{@song.title} by #{@song.artist.name}. Chords, lyrics, and guitar tabs all crafted with care by Songnotes. This song is heard on the album '#{@song.album.name}' released in #{@song.year}." %>
<% else %>
  <% description "Learn how to play #{@song.title} by #{@song.artist.name}. Chords, lyrics, and guitar tabs all crafted with care by Songnotes." %>
<% end %>
<% fb_img "#{@artist_img_dir}#{@song.artist.image_url}" %>

<%# ----- Global Nav ----- %>
<%= render :partial => 'shared/nav' %>

<%# ----- Main Content Wrapper ----- %>
<div id="content">
  <div class="wrapper">    

    <%# ----- Song Header ----- %>
    <div class="hero">
      <div class="avatar">
        <img src="<%= @artist_img_dir + @song.artist.image_url %>" />
      </div>
      <h1 class="fit"><%= @song.title %></h1>
      <h3 class="fit"><%= @song.artist.name %></h3>
      <p class="meta"><% if @song.album.present? %><em>from the album</em> <strong><%= @song.album.name %></strong> <% end %><em>released in</em> <strong><%= @song.year %></strong></p>
      
      <%# ----- Share Links ----- %>      
      <div class="share_wrap_outer">
        <div class="share_wrap_inner">
          <div class="fb-like" data-href="<%= @page_url %>" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
        </div>
      </div>

      <%# ----- Song Secondary Nav ----- %>
      <p class="jumpto">
        <em class="prompt">jump to:</em>
        <a href="#lyrics">lyrics</a><em> /</em>
        <% if @song.notes.present? %>
        <a href="#notes_tabs">notes &amp; tabs</a><em> /</em>
        <% end %>
        <% if @song.listenplay.present? %>
        <a href="#videos">videos</a><em> /</em>
        <% end %>
        <% if @song.chords.present? %>
        <a href="#chord_progressions">chord progressions</a><em> /</em>
        <% end %>
        <a href="#about">song info</a>
      </p>
    </div>

    <%# ----- Lyrics ----- %>
    <% if @song.lyrics_html_mono.present? %>
    <section id="lyrics">
      <h2 class="fit">Lyrics</h2>
      <%= (@song.lyrics_html_mono).html_safe %>
    </section>
    <% end %>

    <%# ----- Notes and Tabs ----- %>
    <% if @song.notes.present? %>
    <section id="notes_tabs">
      <h2 class="fit">Notes &amp; Tabs</h2>
      <%= (@song.notes).html_safe %>
    </section>
    <% end %>

    <%# ----- Videos ----- %>
    <% if @song.listenplay.present? %>
    <section id="videos">
      <h2 class="fit">Videos</h2>
      <%= (@song.listenplay).html_safe %>
    </section>
    <% end %>

    <%# ----- Chord Progressions ----- %>
    <% if @song.chords.present? %>
    <section id="chord_progressions">
      <h2 class="fit">Chord Progressions</h2>
      <%= (@song.chords).html_safe %>
    </section>
    <% end %>

    <%# ----- About Song ----- %>
    <section id="about">
      <h2 class="fit">Song Info</h2>
      <p>
        <strong>Song: </strong><%= @song.title %><br />
        <strong>Artist: </strong><%= @song.artist.name %><br />
        <strong>Album: </strong><%= @song.album.present? ? @song.album.name : "--" %><br />
        <strong>Year: </strong><%= @song.year %><br />
        <strong>Label: </strong><%= @song.record_label.present? ? @song.record_label : "--" %>
      </p>
    </section>

    <div class="wrapper-narrow">
  
      <%# ----- Share ----- %>
      <section>
        <h1>Share</h1>
        <p class="lead">Transcription, content, and notes for this song were written by <a href="https://plus.google.com/107803568486478555999?rel=author">David Potsiadlo</a>. Like what you see? Tell your friends:</p>
        <div class="share_wrap_outer">
          <div class="share_wrap_inner" style="margin-left: -106px;">
            <br />
            <div class="fb-like" style="margin-bottom: 10px; margin-right: 10px;" data-href="<%= @page_url %>" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
            <a href="https://twitter.com/share" class="twitter-share-button" data-url="<%= @page_url %>" data-via="_songnotes" data-lang="en">Tweet</a>
            <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="https://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          </div>
        </div>
      </section>

      <%# ----- Recently Added ----- %>
      <section id="recently_added">
        <h1>Recently Added</h1>
        <p class="lead">Here are the songs I have recently learned and added to the site. I typically will add one new song each week.</p>
        <ul class="tile_featured">
          <% @recent_songs.each do |song| %>
          <li>
            <a href="<%= song_url(song) %>">
              <img src="<%= @artist_img_dir + song.artist.image_url %>" />
              <h5><%= song.title %></h5>
              <ul>
                <li class="artist"><%= song.artist.name %></li>
                <li class="ago"><%= song.created_at.strftime("%b %e, %Y") %></li>
              </ul>
            </a>
          </li>
          <% end %>
        </ul>
      </section>

      <%# ----- Browse All Songs ----- %>
      <section id="browse_all_songs">
        <h1>Browse All Songs</h1>
        <p class="lead">Here's a list of the <%= @song_count %> songs I've added to the site since December 2012. Each song was added by me personally.</p>
        <p class="lead">Songs are grouped by the year they were released.</p>
        <div class="wrapper-narrower tile_list">
          <% @songs_by_year.each do |year, songs| %>
          <h5><%= year %></h5>
          <ul>
            <% songs.each do |song| %>
            <li>
              <a href="<%= song_url(song) %>">
                <img src="<%= @artist_img_dir + song.artist.image_url %>" />
                <h5><%= song.title %></h5>
                <ul>
                  <li class="artist"><%= song.artist.name %></li>
                </ul>
              </a>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div> <!-- end: .wrapper-narrower .tile_list -->
      </section>

      <section id="about">
        <h1>About</h1>
        <p>My name is <a href="https://plus.google.com/107803568486478555999?rel=author">David Potsiadlo</a>, and I created Songnotes to share my collection of guitar tabs, chords, and lyrics for my favorite songs.</p>
        <p>Since I started playing guitar over 10 years ago, I've often been frustrated by the preponderance of mediocre and incomplete song tabs littered across the internet. To combat this, I started keeping my own collection of notes for each song I learn -- always taking the extra time to make sure accuracy and completeness are never compromised. Years later, my collection grew to the point where I knew I had to share it online with fellow aspiring musicians.</p>
        <p>In December 2012, I began designing &amp; developing a website that became Songnotes. Here, I share my personal collection of hand-crafted music notation with all those online. I hope you enjoy.</p>
        <p>You can also <a href="http://davidpots.com">view my personal website</a> or follow me on <a href="http://www.twitter.com/davidpots">Twitter</a> / <a href="http://dribbble.com/davidpots">Dribbble</a> / <a href="http://github.com/davidpots">GitHub</a> / <a href="http://www.linkedin.com/in/davidpots">LinkedIn</a>.</p>

        <div class="home_social_buttons">
          <p style="display: inline-block; margin-right: 10px; float: left;"><a href="https://twitter.com/_songnotes" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @davidpots</a></p>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <div class="fb-like" style="display: inline-block; float: left;" data-href="http://www.facebook.com/songnotes" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
        </div>
      </section>

      <br /><br /><br /><br />

    </div> <!-- end: .wrapper-narrow -->

  </div> <!-- end: .wrapper -->
</div> <!-- end: #content -->
