<% title "How to play '#{@song.title}' by #{@song.artist.name} - Chords, Lyrics, and Guitar Tabs from Songnotes" %>

<% if @song.album.present? %>
  <% description "Learn how to play #{@song.title} by #{@song.artist.name}. Chords, lyrics, and guitar tabs all crafted with care by Songnotes. This song is heard on the album '#{@song.album.name}' released in #{@song.year}." %>
<% else %>
  <% description "Learn how to play #{@song.title} by #{@song.artist.name}. Chords, lyrics, and guitar tabs all crafted with care by Songnotes." %>
<% end %>
<% fb_img "#{@artist_img_dir}#{@song.artist.image_url}" %>

<%# ----- Global Nav ----- %>
<%= render :partial => 'shared/nav' %>

<%# ----- Main Content Wrapper ----- %>
<div id="content">
  <div class="wrapper">

    <%# ----- Song Header ----- %>
    <div class="hero">
      <div class="avatar">
        <img src="<%= @artist_img_dir + @song.artist.image_url %>" />
      </div>
      <h1 class="fit"><%= @song.title %></h1>
      <h3 class="fit"><%= @song.artist.name %></h3>
      <p class="meta"><% if @song.album.present? %><em>from the album</em> <strong><%= @song.album.name %></strong> <% end %><em>released in</em> <strong><%= @song.year %></strong></p>

      <%# ----- Share Links ----- %>
      <div class="share_wrap_outer">
        <div class="share_wrap_inner">
          <div class="fb-like" data-href="<%= @page_url %>" data-layout="button_count" data-action="recommend" data-show-faces="false" data-share="false"></div>
        </div>
      </div>

      <%# ----- Song Secondary Nav ----- %>
      <p class="jumpto">
        <em class="prompt">jump to:</em>
        <a href="#lyrics">lyrics</a><em> /</em>
        <% if @song.notes.present? %>
        <a href="#notes_tabs">notes &amp; tabs</a><em> /</em>
        <% end %>
        <% if @song.listenplay.present? %>
        <a href="#videos">videos</a><em> /</em>
        <% end %>
        <% if @song.chords.present? %>
        <a href="#chord_progressions">chord progressions</a><em> /</em>
        <% end %>
        <a href="#about">song info</a>
      </p>
    </div>

    <%# ----- Lyrics ----- %>
    <% if @song.lyrics_html_mono.present? %>
    <section id="lyrics">
      <h2 class="fit">Lyrics</h2>
      <%= (@song.lyrics_html_mono).html_safe %>
    </section>
    <% end %>

    <%# ----- Notes and Tabs ----- %>
    <% if @song.notes.present? %>
    <section id="notes_tabs">
      <h2 class="fit">Notes &amp; Tabs</h2>
      <%= (@song.notes).html_safe %>
    </section>
    <% end %>

    <%# ----- Videos ----- %>
    <% if @song.listenplay.present? %>
    <section id="videos">
      <h2 class="fit">Videos</h2>
      <%= (@song.listenplay).html_safe %>
    </section>
    <% end %>

    <%# ----- Chord Progressions ----- %>
    <% if @song.chords.present? %>
    <section id="chord_progressions">
      <h2 class="fit">Chord Progressions</h2>
      <%= (@song.chords).html_safe %>
    </section>
    <% end %>

    <%# ----- About Song ----- %>
    <section id="about">
      <h2 class="fit">Song Info</h2>
      <p>
        <strong>Song: </strong><%= @song.title %><br />
        <strong>Artist: </strong><%= @song.artist.name %><br />
        <strong>Album: </strong><%= @song.album.present? ? @song.album.name : "--" %><br />
        <strong>Year: </strong><%= @song.year %><br />
        <strong>Label: </strong><%= @song.record_label.present? ? @song.record_label : "--" %>
      </p>
    </section>


    <div class="wrapper-narrow">

      <section id="tipjar">
        <h1>Tip Jar</h1>
        <p class="lead">Want to support Songnotes? If you would like to donate a dollar or few, that would make my day. I've spent over 1000+ hours building this site and transcribing these songs -- and happily make everything available freely. Visit my PayPal page if you'd like to toss something back my way.</p>
        <h3 style="text-align: center;"><a href="https://paypal.me/songnotes">Donate via PayPal</a></h3>
        <p class="lead">Thanks so much!</p>
      </section>


      <section id="video_lessons">
        <h1>Video Lessons</h1>
        <p>Here are some of the video lessons I have made recently. I typically aim to create 3-4 lessons per month. Subscribe on YouTube to be sure you never miss a new lesson.</p>
        <script src="https://apis.google.com/js/platform.js"></script>

        <div style="text-align: center">

          <div class="g-ytsubscribe" data-channel="playsongnotes" data-layout="full" data-count="default"></div>
          <br /><br />

          <!-- ___________________ -->
          <!-- <iframe width="560" height="315" src="https://www.youtube.com/embed/________" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="_________________">notes &amp; tabs</a> for _________ &rarr;</p> -->

          <!-- Badlands -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/3TZcIrtgCUA" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2017/02/04/guitar-lesson-badlands-bruce-springsteen.html">notes &amp; tabs</a> for Badlands &rarr;</p>

          <!-- Sweet Home Alabama -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/u04OuAzhSZA" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/133-lynyrd-skynyrd-sweet-home-alabama">notes &amp; tabs</a> for Sweet Home Alabama &rarr;</p>

          <!-- City of Stars - https://www.youtube.com/watch?v=tNWUK3lh7yE -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/caBDotrfiLc" frameborder="0" allowfullscreen></iframe>
          <!-- <p><em>Full guitar lesson coming soon!</em></p> -->
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2017/01/23/guitar-lesson-city-of-stars-la-la-land.html">notes &amp; tabs</a> for City of Stars &rarr;</p>

          <!-- Someone in the Crowd - https://www.youtube.com/watch?v=zM906jWgEFc -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/zM906jWgEFc" frameborder="0" allowfullscreen></iframe>
          <p><em>Lesson notes coming soon!</em></p>
          <!-- <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="_________________">notes &amp; tabs</a> for Someone in the Crowd &rarr;</p> -->

          <!-- Another Day of Sun - https://www.youtube.com/watch?v=KQ_ufy9I2aA -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/KQ_ufy9I2aA" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2017/01/12/guitar-lesson-another-day-of-sun-la-la-land.html">notes &amp; tabs</a> for Another Day of Sun &rarr;</p>

          <!-- Lonesome Town - https://www.youtube.com/watch?v=QFiatbwLPXg -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/QFiatbwLPXg" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/126-ricky-nelson-lonesome-town">notes &amp; tabs</a> for Lonesome Town &rarr;</p>

          <!-- Happy Xmas (War is Over) - https://www.youtube.com/watch?v=wIZ8q1aXEu8 -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/wIZ8q1aXEu8" frameborder="0" allowfullscreen></iframe>
          <p><em>Lesson notes coming soon!</em></p>
          <!-- <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="_________________">notes &amp; tabs</a> for _________ &rarr;</p> -->

          <!-- How Far I'll Go - https://www.youtube.com/watch?v=6xPczglWXQM -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/6xPczglWXQM" frameborder="0" allowfullscreen></iframe>
          <p><em>Lesson notes coming soon!</em></p>
          <!-- <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="_________________">notes &amp; tabs</a> for _________ &rarr;</p> -->

          <!-- Like a Rolling Stone - https://www.youtube.com/watch?v=ovnhfQkUXkc -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/ovnhfQkUXkc" frameborder="0" allowfullscreen></iframe>
          <p><em>Lesson notes coming soon!</em></p>
          <!-- <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="_________________">notes &amp; tabs</a> for _________ &rarr;</p> -->

          <!-- True Colors https://www.youtube.com/watch?v=jujtsxzfCbs  -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/jujtsxzfCbs" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/11/29/guitar-lesson-true-colors-justin-timberlake-cyndi-lauper.html">notes &amp; tabs</a> for True Colors &rarr;</p>

          <!-- Hotel California https://www.youtube.com/watch?v=sEEG2eSfvB8&t=308s -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/sEEG2eSfvB8" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/56-the-eagles-hotel-california">notes &amp; tabs</a> for Hotel California &rarr;</p>

          <!-- Apple Blossom -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/xhX8QinM3vk" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/10/23/guitar-lesson-apple-blossom-white-stripes.html">notes &amp; tabs</a> for Apple Blossom &rarr;</p>

          <!-- Freeway Time on LA County Jail -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/pEvcrR2m7_w" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/10/16/guitar-lesson-freeway-time-la-county-jail-sublime.html">notes &amp; tabs</a> for Freeway Time in LA County Jail &rarr;</p>
          <!-- Out on the Weekend -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/PbKgfvlDrow" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/70-neil-young-out-on-the-weekend">notes &amp; tabs</a> for Out on the Weekend &rarr;</p>
          <!-- Say It Ain't So -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9kbA1RnvEjo" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/07/23/guitar-lesson-say-it-aint-so-weezer.html">notes &amp; tabs</a> for Say It Ain't So &rarr;</p>
          <!-- You're Gonna Make Me Lonesome When You Go -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/r0Wwi2MnQoo" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/07/17/guitar-lesson-youre-gonna-make-me-lonesome-when-you-go-bob-dylan.html">notes &amp; tabs</a> for You're Gonna Make Me Lonesome When You Go &rarr;</p>
          <!-- Summer of '69 -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/lD1ioBlmSJE" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/07/09/guitar-lesson-summer-of-69-bryan-adams.html">notes &amp; tabs</a> for Summer of '69 &rarr;</p>
          <!-- Don't Let Me Down -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/iy_7QUrp80Y" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/07/07/guitar-lesson-dont-let-me-down-chainsmokers.html">notes &amp; tabs</a> for Don't Let Me Down &rarr;</p>
          <!-- How I Go -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/-cGtB7Ugw58" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/07/01/guitar-lesson-how-i-go-yellowcard.html">notes &amp; tabs</a> for How I Go &rarr;</p>
          <!-- 7 Years -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/4L28ORWMSyw" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/06/26/guitar-lesson-7-years-old-lukas-graham.html">notes &amp; tabs</a> for 7 Years &rarr;</p>
          <!-- Kodachrome -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/oC0EnK6p1nQ" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://davidpots.com/guitar/music/2016/05/28/guitar-lesson-paul-simon-kodachrome.html">notes &amp; tabs</a> for Kodachrome &rarr;</p>
          <!-- Give My Love to Rose -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/JXrNumLcMGY" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/176-johnny-cash-give-my-love-to-rose">notes &amp; tabs</a> for Give My Love To Rose &rarr;</p>
          <!-- Sweet Caroline -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/XHpS7HDaymo" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/155-neil-diamond-sweet-caroline">notes &amp; tabs</a> for Sweet Caroline &rarr;</p>
          <!-- I Walk The Line -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/VPf0HLvc3L8" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/149-johnny-cash-i-walk-the-line">notes &amp; tabs</a> for I Walk The Line &rarr;</p>
          <!-- Redemption Song -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/hwbq4kfXkIE" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/67-bob-marley-redemption-song">notes &amp; tabs</a> for Redemption Song &rarr;</p>
          <!-- Hallelujah -->
          <iframe width="560" height="315" src="https://www.youtube.com/embed/F0w3xI4A054" frameborder="0" allowfullscreen></iframe>
          <p style="margin-top: 12px; margin-bottom: 48px;">View my <a href="http://www.songnotes.cc/songs/151-leonard-cohen-hallelujah">notes &amp; tabs</a> for Hallelujah &rarr;</p>
        </div>
      </section>


      <%# ----- Browse All Songs ----- %>
      <section id="browse_all_songs">
        <h1>Browse All Songs</h1>
        <p class="lead">Here's a list of the <%= @song_count %> songs I've added to the site since December 2012. Each song was added by me personally.</p>
        <p class="lead">Songs are grouped by the year they were released.</p>
        <div class="wrapper-narrower tile_list">
          <% @songs_by_year.each do |year, songs| %>
          <h5><%= year %></h5>
          <ul>
            <% songs.each do |song| %>
            <li>
              <a href="<%= song_url(song) %>">
                <img src="<%= @artist_img_dir + song.artist.image_url %>" />
                <h5><%= song.title %></h5>
                <ul>
                  <li class="artist"><%= song.artist.name %></li>
                </ul>
              </a>
            </li>
            <% end %>
          </ul>
          <% end %>
        </div> <!-- end: .wrapper-narrower .tile_list -->
      </section>

      <section id="about">
        <h1>About</h1>
        <p>My name is <a href="https://plus.google.com/107803568486478555999?rel=author">David Potsiadlo</a>, and I created Songnotes to share my collection of guitar tabs, chords, and lyrics for my favorite songs.</p>
        <p>Since I started playing guitar over 10 years ago, I've often been frustrated by the preponderance of mediocre and incomplete song tabs littered across the internet. To combat this, I started keeping my own collection of notes for each song I learn -- always taking the extra time to make sure accuracy and completeness are never compromised. Years later, my collection grew to the point where I knew I had to share it online with fellow aspiring musicians.</p>
        <p>In December 2012, I began designing &amp; developing a website that became Songnotes. Here, I share my personal collection of hand-crafted music notation with all those online. I hope you enjoy.</p>
        <p>You can also <a href="http://davidpots.com">view my personal website</a> or follow me on <a href="http://www.twitter.com/davidpots">Twitter</a> / <a href="http://dribbble.com/davidpots">Dribbble</a> / <a href="http://github.com/davidpots">GitHub</a> / <a href="http://www.linkedin.com/in/davidpots">LinkedIn</a>.</p>

        <div class="home_social_buttons">
          <p style="display: inline-block; margin-right: 10px; float: left;"><a href="https://twitter.com/playsongnotes" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @davidpots</a></p>
          <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
          <div class="fb-like" style="display: inline-block; float: left;" data-href="http://www.facebook.com/songnotes" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
        </div>
      </section>

      <br /><br /><br /><br />

    </div> <!-- end: .wrapper-narrow -->

  </div> <!-- end: .wrapper -->
</div> <!-- end: #content -->
