<% title "Chords and Lyrics for '#{@song.title}' by #{@song.artist}" %>
<% description "Acoustic guitar chords, lyrics, and tabs for #{@song.title} by #{@song.artist}, as heard on '#{@song.album}' released in #{@song.year}." %>

<div class="song_show">

  <div class="uni_header">
    <div class="container">
      <div class="buffer">
        <%= link_to "Songnotes", root_path %>
      </div> <!-- end: buffer -->
    </div> <!-- end: .container -->
  </div> <!-- end: .uni_header -->

  <div class="container">
    <div class="buffer">
      <%= render "shared/back_to_list" %>
      <div class="tile">

        <%# ---------------------------------------------- %>
        <%#    SONG HEADER                                 %>
        <%# ---------------------------------------------- %>
        <div class="song_header bucket">
          <h1><%= @song.title %></h1>
          <p><%= @song.artist %></p>
        </div>

        <%# ---------------------------------------------- %>
        <%#    LYRICS                                      %>
        <%# ---------------------------------------------- %>
        <div class="song_lyrics bucket">
          <%= @song.lyrics_html_mono.present? ? (@song.lyrics_html_mono).html_safe : (@song.lyrics_text).html_safe %>
        </div>

        <%# ---------------------------------------------- %>
        <%#    NOTES                                       %>
        <%# ---------------------------------------------- %>
        <% if @song.notes.present? %>
        <div class="song_notes">
          <div class="bucket">
            <h2>Notes &amp; Tabs</h2>
            <%= (@song.notes).html_safe %>
          </div> <!-- end: .bucket -->
        </div>
        <% end %>

        <%# ---------------------------------------------- %>
        <%#    CHORD PROGRESSIONS                          %>
        <%# ---------------------------------------------- %>
        <% if @song.chords.present? %>
        <div class="song_chords">
          <div class="bucket">
            <h2>Chord Progressions</h2>
            <%= (@song.chords).html_safe %>
          </div>
        </div>
        <% end %>

        <%# ---------------------------------------------- %>
        <%#    SONG INFO                                   %>
        <%# ---------------------------------------------- %>
        <div class="song_info">
          <h2>About This Song</h2>
          <p>
            <strong>Song: </strong><%= @song.title %><br />
            <strong>Artist: </strong><%= @song.artist %><br />
            <strong>Album: </strong><%= @song.album.present? ? @song.album : "--" %><br />
            <strong>Year: </strong><%= @song.year %><br />
            <strong>Label: </strong><%= @song.record_label.present? ? @song.record_label : "--" %>
          </p>
        </div>
      </div> <!-- end: .tile -->
      
      <% unless @songs_same_artist.count < 2 %>
        <h3 class="bucket_head">Other songs by <%= @artist %></h3>
        <ul class="tiles" style="margin-bottom:0;">    
        <% @songs_same_artist.each do |song| %>
          <li class="arrow">
            <%= link_to(song, :class => "tile") do %>
              <h1><%= song.title %></h1>
              <h3><%= song.artist %></h3>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
      
      <% unless @songs_same_year.count < 2 %>
        <h3 class="bucket_head">Other songs from <%= @year %></h3>
        <ul class="tiles" style="margin-bottom:0;">    
        <% @songs_same_year.each do |song| %>
          <li class="arrow">
            <%= link_to(song, :class => "tile") do %>
              <h1><%= song.title %></h1>
              <h3><%= song.artist %></h3>
            <% end %>
          </li>
        <% end %>
        </ul>
      <% end %>
      
      
      
      
      
      
      <h3 class="bucket_head">Some random suggestions</h3>
      <ul class="tiles" style="margin-bottom:0;">    
      <% @songs_random.each do |song| %>
        <li class="arrow">
          <%= link_to(song, :class => "tile") do %>
            <h1><%= song.title %></h1>
            <h3><%= song.artist %></h3>
          <% end %>
        </li>
      <% end %>
      </ul>    
    
      <%= render "shared/back_to_list" %>
    </div> <!-- end: .buffer -->
  </div> <!-- end: .container -->
</div> <!-- end: song_show -->