<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', admin_path %>
<p id="notice"><%= notice %></p>

<p>
  <b>Title:</b>
  <%= @song.title %>
</p>

<p>
  <b>Artist:</b>
  <%= @song.artist %>
</p>

<p>
  <b>Year:</b>
  <%= @song.year %>
</p>

<p>
  <b>Album:</b>
  <%= @song.album %>
</p>

<p><b>Lyrics (text):</b></p>
<pre><%= @song.lyrics_text.present? ? (@song.lyrics_text).html_safe : "n/a" %></pre>

<p><b>Lyrics (HTML,mono):</b></p>
<pre><%= @song.lyrics_html_mono.present? ? (@song.lyrics_html_mono).html_safe : "n/a" %></pre>

<p><b>Chords:</b></p>
<%= @song.chords.present? ? (@song.chords).html_safe : "n/a" %>

<p><b>Notes:</b></p>
<%= @song.notes.present? ? (@song.notes).html_safe : "n/a" %>

<p><b>Record Label:</b>
<%= @song.record_label.present? ? @song.record_label : "n/a" %></p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', admin_path %>
