<div class="full-bleed wrap-color-white">
  <div class="container">
    <div class="content">      
      <h1 style="font-size: 54px; line-height: 60px; margin: 0 0 32px 0;">Songnotes</h1>
      <p style="margin-bottom: 18px;">Hand-crafted guitar tabs, chords, and lyrics to your favorite songs.<br /> Designed, developed, and edited by <a href="http://twitter.com/davidpots" target="_blank">@davidpots</a>.</p>
      <p style="margin-bottom: 21px;">Want to know more? Read the story behind <%= link_to "why I'm building this site", about_url %>.</p>
      <p style="margin-right: 10px; float: left;"><a href="https://twitter.com/playsongnotes" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @davidpots</a></p>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
      <div class="fb-like" style="margin-bottom: 20px;" data-href="http://www.songnotes.cc" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui" data-action="recommend"></div>
    </div>
  </div>
</div>

<div class="full-bleed wrap-color-primary">
  <div class="container">
    <div class="content">
      <h2>Recently Added</h2>
      <p>I add approximately one song each week, and would be glad to <a style="color: #bbffff; border-bottom: 1px solid #aaeeff;" href="mailto:play.songnotes@gmail.com">take any requests</a> you might have.</p>
      <div class="tile-v5-wrap">
        <% @recent_songs.each do |song| %>
        <a class="tile-v5" href="<%= song_url(song) %>">
          <img src="<%= @artist_img_dir + song.artist.image_url %>" />
          <h2>
            <strong><%= song.artist.name %></strong>
            <span><%= song.title %></span>
          </h2>
        </a>
        <% end %>
      </div> <!-- end: tile-v5-wrap -->
      <p>To keep notified of song additions, you should follow Songnotes on <a style="color: #bbffff; border-bottom: 1px solid #aaeeff;" target="_blank" href="http://www.facebook.com/songnotes">Facebook</a> or <a target="_blank" style="color: #bbffff; border-bottom: 1px solid #aaeeff;" href="http://www.twitter.com/playsongnotes">Twitter</a>.</p>
    </div> <!-- end: content -->
  </div> <!-- end: container -->
</div> <!-- end: full-bleed -->


<div class="container">
  <div class="content content-island">
    <h2 class="ribbon">Browse All Songs</h2>
    <% @artists.each do |artist| %>
    <dl class="tile-v4 with-thumb">
      <img src="<%= @artist_img_dir + artist.image_url %>" />
      <dt><%= artist.name %></dt>
      <% artist.songs.order('title').each do |song| %>
      <dd><a href="<%= song_url(song) %>"><strong><%= song.title %></strong><span><%= song.year %></span></a></dd>
      <% end %>
    </dl>
    <% end %>
  </div> <!-- end: content -->
  <div class="fb-like" style="margin-bottom: 20px;" data-href="http://www.songnotes.cc" data-send="false" data-width="950" data-show-faces="true" data-font="segoe ui" data-action="recommend"></div>
  <br /><br />
</div> <!-- end: container -->
