<%= render :partial => 'shared/nav' %>

<div class="home_social_buttons">
  <p style="display: inline-block; margin-right: 10px; float: left;"><a href="https://twitter.com/_songnotes" class="twitter-follow-button" data-show-count="false" data-size="small">Follow @davidpots</a></p>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  <div class="fb-like" style="display: inline-block; float: left;" data-href="http://www.facebook.com/songnotes" data-send="false" data-layout="button_count" data-width="400" data-show-faces="false"></div>
</div>

<ul>
  <% @recent_songs.each do |song| %>
  <li>
    <a href="<%= song_url(song) %>" style="background-image: url(<%= @artist_img_dir + song.artist.image_url %>);">
      <%= song.title %>
      <%= song.artist.name %>
    </a>
  </li>
  <% end %>
</ul>

<ul>
  <% @songs.each do |song| %>
  <li>
    <a href="<%= song_url(song) %>" style="background-image: url(<%= @artist_img_dir + song.artist.image_url %>);">
      <%= song.title %>
      <%= song.artist.name %>
    </a>
  </li>
  <% end %>
</ul>

<a href="http://twitter.com/_songnotes">Twitter</a>
<a href="http://facebook.com/songnotes">Facebook</a>
<a href="http://www.youtube.com/user/playsongnotes">YouTube</a>
<a href="https://plus.google.com/+songnotesCC" rel="publisher">Google+</a>