<div class="welcome">
  <div class="container">
    <h1>Songnotes</h1>
    <p>Premium guitar tabs, chords, and lyrics.<br />Hand-made with care by <a href="http://twitter.com/davidpots" target="_blank">@davidpots</a>.</p>
    <div class="fb-like" data-href="http://songnotes.davidpots.com" style="position: relative; left: 50%; margin-left: -150px;" data-send="false" data-width="300" data-show-faces="false" data-action="recommend"></div>
  </div> <!-- end: .container -->
</div> <!-- end: .welcome -->

<div class="container">
  <div class="buffer">

    <h3 class="bucket_head">Welcome!</h3>
    <ul class="tiles">
      <li class="arrow">
        <%= link_to ("<h1>About this site</h1>").html_safe, about_url, :class => "tile" %>
      </li>
      <li class="arrow">
        <%= link_to ("<h1>Browse all #{@song_count} songs</h1>").html_safe, song_directory_url(:sort => "title", :direction => "ASC"), :class => "tile" %>
      </li>
    </ul>
  
    <h3 class="bucket_head">Recently added songs</h3>
    <ul class="tiles">
      <% @songs_by_months.each do |song| %>
      <li class="arrow">
        <%= link_to(song, :class => "tile") do %>
          <h1><%= song.title %></h1>
          <h3><%= song.artist.name %></h3>
          <!-- <h4><%= time_ago_in_words(song.created_at) %> ago</h4> -->
        <% end %>
      </li>
      <% end %>
    </ul>

    <h3 class="bucket_head">Some random suggestions</h3>
    <ul class="tiles">
      <% @songs_random.each do |song| %>
      <li class="arrow">
        <%= link_to(song, :class => "tile") do %>
          <h1><%= song.title %></h1>
          <h3><%= song.artist.name %></h3>
        <% end %>
      </li>
      <% end %>
    </ul>

    <p>You should follow Songnotes on twitter!</p>
<a href="https://twitter.com/playsongnotes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @davidpots</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div> <!-- end: buffer -->
</div> <!-- end: .container -->