<div class="welcome">
  <div class="container">
    <h1>Songnotes</h1>
    <%#<p>Hand-crafted guitar tab songbook.<br />Made with care by @davidpots.</p> %>
    <p>Premium guitar tabs, chords, and lyrics.<br />Hand-made with care by <a href="http://twitter.com/davidpots" target="_blank">@davidpots</a>.</p>
  </div> <!-- end: .container -->
</div> <!-- end: .welcome -->

<div class="container">
  <div class="buffer">

    <h2>Browse all <%= @song_count %> songs</h2>
    <ul class="segmented segmented_3">
      <li><%= link_to "by title", song_directory_url(:sort => "title", :direction => "ASC"), :class => "row" %></a></li>
      <li><%= link_to "by artist", song_directory_url(:sort => "artist", :direction => "ASC"), :class => "row" %></li>
      <li><%= link_to "by year", song_directory_url(:sort => "year", :direction => "DESC"), :class => "row" %></li>
    </ul>
  
    <h2>Recently added</h2>
    <ul class="rows wide_berth">
      <% @songs_by_months.each do |song| %>
      <li class="arrow">
        <%= link_to(song, :class => "row") do %>
          <strong><%= song.title %></strong>
          <div class="sub"><%= song.artist %> <em>(<%= time_ago_in_words(song.created_at) %> ago)</em></div>
        <% end %>
      </li>
      <% end %>
    </ul>

    <h2>Some random suggestions</h2>
    <ul class="rows wide_berth">
      <% @songs_random.each do |song| %>
      <li class="arrow">
        <%= link_to(song, :class => "row") do %>
          <strong><%= song.title %></strong>
          <div class="sub"><%= song.artist %></div>
        <% end %>
      </li>
      <% end %>
    </ul>

    <h2>This is the part where you click...</h2>
    <ul class="rows wide_berth">
      <li class="arrow solo">
        <%= link_to ("<strong>browse by song title</strong>").html_safe, song_directory_url(:sort => "title", :direction => "ASC"), :class => "row" %>
      </li>
      <li class="arrow solo">
        <%= link_to ("<strong>browse by artist name</strong>").html_safe, song_directory_url(:sort => "artist", :direction => "ASC"), :class => "row" %>
      </li>
      <li class="arrow solo">
        <%= link_to ("<strong>browse by year released</strong>").html_safe, song_directory_url(:sort => "year", :direction => "DESC"), :class => "row" %>
      </li>
    </ul>

    <p>You should follow Songnotes on twitter!</p>
<a href="https://twitter.com/playsongnotes" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @davidpots</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>

  </div> <!-- end: buffer -->
</div> <!-- end: .container -->