<%= form_for(@album) do |f| %>
  <% if @album.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@album.errors.count, "error") %> prohibited this album from being saved:</h2>

      <ul>
      <% @album.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br />
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "Artist" %><br />
    <%= f.collection_select(:artist_id, @artists, :id, :name, :include_blank => "")%>
  </div>
  <div class="field">
    <%= f.label :label %><br />
    <%= f.text_field :label %>
  </div>
  <div class="field">
    <%= f.label :year %><br />
    <%= f.number_field :year %>
  </div>
  <div class="field">
    <%= f.label :image_url %><br />
    <%= f.text_field :image_url %>
  </div>
  <div class="field">
    <%= f.label :url_wikipedia %><br />
    <%= f.text_field :url_wikipedia %>
  </div>
  <div class="field">
    <%= f.label :url_rdio %><br />
    <%= f.text_field :url_rdio %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
