<div class="header-bar full-bleed wrap-color-black sandbox-nav-wrap">
  <div class="content">
    <ul>
      <li class="<%= "active" if action_name == "index" %>"><%= link_to "Sandbox Home", sandbox_url %></li>
      <li class="<%= "active" if action_name == "basic" %>"><%= link_to "Basic Elements", sandbox_basic_url %></li>
      <li class="<%= "active" if action_name == "grid" %>"><%= link_to "Grid & Scaffolding", sandbox_grid_url %></li>
      <li class="<%= "active" if action_name == "backgrounds" %>"><%= link_to "BG & Full Bleed", sandbox_backgrounds_url %></li>
      <li class="<%= "active" if action_name == "tiles" %>"><%= link_to "Tiles", sandbox_tiles_url %></li>
      <li class="<%= "active" if action_name == "song_show" %>"><%= link_to "Song", sandbox_song_show_url %></li>
    </ul>
  </div> <!-- end: .content -->
</div> <!-- end: full-bleed -->