<div class="full-bleed full-bleed-dark">
  <div class="container">
    <div class="full-width">
      <p style="margin: 0;color:#eee;padding: 14px 0 12px;font-size: 14px;line-height: 24px;">
        <%= link_to "Sandbox Home", sandbox_url, :style=>"color:#ffffff;" %>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <%= link_to "Basic Elements", sandbox_basic_url, :style=>"color:#ffffff;" %>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <%= link_to "Grid & Scaffolding", sandbox_grid_url, :style=>"color:#ffffff;" %>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <%= link_to "Monospace Testing", sandbox_monospace_url, :style=>"color:#ffffff;" %>&nbsp;&nbsp;&nbsp;&bull;&nbsp;&nbsp;
        <%= link_to "Backgrounds", sandbox_backgrounds_url, :style=>"color:#ffffff;" %>
      </p>
    </div> <!-- end: full-width -->
  </div> <!-- end: .container -->
</div>