<div class="full-bleed wrap-color-black">
  <div class="container">
    <div class="full-width">
      <ul class="sandbox-nav">
        <li class="<%= "active" if action_name == "index" %>"><%= link_to "Sandbox Home", sandbox_url %></li>
        <li class="<%= "active" if action_name == "basic" %>"><%= link_to "Basic Elements", sandbox_basic_url %></li>
        <li class="<%= "active" if action_name == "grid" %>"><%= link_to "Grid & Scaffolding", sandbox_grid_url %></li>
        <li class="<%= "active" if action_name == "monospace" %>"><%= link_to "Monospace Testing", sandbox_monospace_url %></li>
        <li class="<%= "active" if action_name == "backgrounds" %>"><%= link_to "Backgrounds", sandbox_backgrounds_url %></li>
      </ul>
    </div> <!-- end: full-width -->
  </div> <!-- end: .container -->
</div>