<%= render "sandbox/sandbox_nav" %>

<div style="width: 90%; background:yellow; margin: 0 auto;">
  <div style="">
    <div style="height: 30px; width: 48.88888888889%; float:left; background:blue; margin: 0 2.222222222222% 0 0;"></div>
    <div style="height: 30px; width: 48.88888888889%; float:left; background:blue; margin: 0 0 0 0;"></div>
    <div style="clear:both;"></div>
  </div>
</div>


<div class="container">
  <div class="buffer">

    <div class="cards_v1">
    <% @recent_songs.each do |song| %>
      <a class="card" href="<%= song_url(song) %>">
        <div class="wrap">
          <p class="thumb">
            <img src="assets/artists/<%= song.artist.image_url %>" />
          </p>
          <h1><%= truncate(song.title, length:28) %></h1>
          <h2><%= song.artist.name %></h2>
        </div> <!-- end: .wrap -->
      </a>
    <% end %>
    </div>

    <h1>Artists (first 10, sorted by name)</h1>
    <ul>
    <% @artists.each do |artist| %>
      <li><strong><%= artist.name %></strong> (<%= artist.songs.count %>)</li>
    <% end %>
    </ul>
    
    <!-- <div class="cards_v1">
      <div class="card">
        <div class="thumb"></div>
        <h1>Primary</h1>
        <h2>Secondary</h2>
        <h3>Tertiary</h3>
      </div>
      <div class="card">
        <div class="thumb"></div>
        <h1>Primary</h1>
        <h2>Secondary</h2>
        <h3>Tertiary</h3>
      </div>
      <div class="card">
        <div class="thumb"></div>
        <h1>Primary</h1>
        <h2>Secondary</h2>
        <h3>Tertiary</h3>
      </div>
      <div class="card">
        <div class="thumb"></div>
        <h1>Primary</h1>
        <h2>Secondary</h2>
        <h3>Tertiary</h3>
      </div>
    </div> -->

<br /><br /><br /><br /><br /><br /><br />

    <h1 class="sect_head">Browse by Artist</h1>
    <div class="cards_v1">
      <% @songs_by_artist.sort.each do |artist, songs| %>
          <% for song in songs %>
            <div class="card">
              <div class="thumb"></div>
              <h1><%= song.artist.name %></h1>
              <h2><%= song.title %></h2>
              <h3><%= song.year %></h3>
            </div>
          <% end %>
      <% end %>
    </div> <!-- end: .cards_v1 -->

      <% @songs_by_artist.sort.each do |artist, songs| %>
          <h3><%= artist.name %></h3>
          <ul>
          <% for song in songs %>
            <li>
              <%= link_to(song, :class => "tile") do %>
                <strong><%= song.title %></strong><br />
                <%= song.album.blank? ? "--" : song.album.name %>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% end %>


      <% @songs_by_title.each do |first_letter, songs| %>
          <h3><%= first_letter %></h3>
          <ul>
          <% for song in songs %>
            <li>
              <%= link_to(song, :class => "tile") do %>
                <strong><%= song.title %></strong>
                <%= song.artist.name %>
              <% end %>
            </li>
          <% end %>
          </ul>
      <% end %>


  </div>











  <br />  <br />  <br />  <br />  <br />
  <div class="tile" style="padding: 24px 32px;">

    <p style="font-size: 1rem;">I am a paragraph with 1rem</p>
    <p style="font-size: 16px;">I am a paragraph with 16px</p>

    <h1>I am a super header</h1>
    
    <h2>I am second in command</h2>
    
    <h3>I am the third one down</h3>
    
    <h4>I am a lousy fourth liner</h4>

    <h5>And this little piggy cried all the way home</h5>

  </div> <!-- end: .tile -->
  
  <br />  <br />  <br />  <br />  <br />

  <h3 class="bucket_head">recently added to the collection:</h3>
  <ul class="tiles">
    <li class="arrow">
      <a href="" class="tile">
        <h1>Moonshadow</h1>
        <h3>Cat Stevens</h3>
      </a>
    </li>
    <li class="arrow">
      <a href="" class="tile">
        <h1>Harvest</h1>
        <h3>Neil Young</h3>
      </a>
    </li>
    <li class="arrow">
      <a href="" class="tile">
        <h1>Tiny Dancer</h1>
        <h3>Elton John</h3>
      </a>
    </li>
    <li class="arrow">
      <a href="" class="tile">
        <h1>Brown Eyed Girl</h1>
        <h3>Cat Stevens</h3>
      </a>
    </li>
    <li class="arrow">
      <a href="" class="tile">
        <h1>Suite Judy Blue Eyes</h1>
        <h3>Crosby, Stills, Nash, and Young</h3>
      </a>
    </li>
    <li class="arrow">
      <a href="" class="tile">
        <h1>America</h1>
        <h3>Paul Simon</h3>
      </a>
    </li>
  </ul>

  <h3 class="bucket_head">2012</h3>
  <ul class="tiles">
    <li class="arrow">
      <a href="" class="tile">
        <h1>Moonshadow</h1>
        <h3>Cat Stevens</h3>
      </a>
    </li>
  </ul>

  <h3 class="bucket_head">2011</h3>
  <ul class="tiles">
    <li class="arrow">
      <a href="" class="tile">
        <h1>Moonshadow</h1>
        <h3>Cat Stevens</h3>
      </a>
    </li>
    <li class="arrow">
      <a href="" class="tile">
        <h1>Harvest</h1>
        <h3>Neil Young</h3>
      </a>
    </li>
  </ul>







  <div class="buffer">
    <div class="sandbox_hider">
      <%#= sanitize @song.lyrics_html_mono %>
      <pre><%= strip_tags(@new_doc) %></pre>
    </div>

  <br /><br /><br />
    <h2>2012</h2>
  
  
    <h2>2010</h2>
    <ul class="rows">
      <li>
        <a href="" class="tile">
          <strong>Moonshadow</strong>
          <div class="sub">Cat Stevens</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Harvest</strong>
          <div class="sub">Neil Young</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Heart of Gold</strong>
          <div class="sub">Neil Young</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Out on the Weekend</strong>
          <div class="sub">Neil Young</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Brown Eyed Girl</strong>
          <div class="sub">Van Morrison</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Rodeo Clowns</strong>
          <div class="sub">Jack Johnson</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Redemption Song</strong>
          <div class="sub">Bob Marley</div>
        </a>
      </li>
    </ul>
    <h2>Recently Added Songs</h2>
    <ul class="rows">
      <li>
        <a href="" class="tile">
          <strong>Moonshadow</strong>
          <div class="sub">Cat Stevens</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Harvest</strong>
          <div class="sub">Neil Young</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Heart of Gold</strong>
          <div class="sub">Neil Young</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Out on the Weekend</strong>
          <div class="sub">Neil Young</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Brown Eyed Girl</strong>
          <div class="sub">Van Morrison</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Rodeo Clowns</strong>
          <div class="sub">Jack Johnson</div>
        </a>
      </li>
      <li>
        <a href="" class="tile">
          <strong>Redemption Song</strong>
          <div class="sub">Bob Marley</div>
        </a>
      </li>
    </ul>

  <%# ------------------------------------------------------ %>
  <%# ------ General: Typographic Headers ------------------ %>
  <%# ------------------------------------------------------ %>

      <h1>General: Typographic Headers</h1>

      <h1>Regular H1</h1>
      <p>Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
      <h1 class="alt">H1 with class "alt"</h1>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta.</p>
      <h2>Regular h2</h2>
      <p>Gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolorium.</p>
      <h2 class="row">h2 with class "row"</h2>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta.</p>
      <h3>Regular h3</h3>
      <p>Maecenas faucibus mollis interdum. Curabitur blandit tempus porttitor.</p>
      <h4>Regular h4</h4>
      <p>Nullam id dolor id nibh ultricies vehicula ut id elit. Donec id elit non mi porta.</p>
      <h5>Regular h5</h5>
      <p>Gravida at eget metus. Aenean lacinia bibendum nulla sed consectetur. Lorem ipsum dolorium.</p>


  <%# ------------------------------------------------------ %>
  <%# ------ General: Misc HTML Elements ------------------- %>
  <%# ------------------------------------------------------ %>

      <h1>General: Misc HTML Elements</h1>

      <p>Here are what generic, default lists look like (unordered, ordered, definition).</p>
      <ul>
        <li>The first cut the deepest</li>
        <li>Take the journey to the end of the night</li>
        <li>Realms of pain, realms of bliss</li>
      </ul>
      <p>And I am a paragraph of text. I have a lot of words and spaces. I might not make sense. Exercise your sense of geography. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam.</p>
      <ol>
        <li>The first cut the deepest</li>
        <li>Take the journey to the end of the night</li>
        <li>Realms of pain, realms of bliss</li>
      </ol>
      <p>And I am a paragraph of text. I have a lot of words and spaces. I might not make sense. Exercise your sense of geography. Nullam quis risus eget urna mollis ornare vel eu leo. Aenean eu leo quam.</p>
      <dl>
        <dt>The Doors</dt>
        <dd>Their debut, self-titled album. Released in 1967.
        <dd>Opens with "Break on Through (to the Other Side)" and includes the hit "Light My Fire".</dd>
        <dt>Strange Days</dt>
        <dd>Their second album, also released in 1967.</dd>
      </dl>

  </div> <!-- end: .buffer -->
</div> <!-- end: .container -->