<% content_for :extra_class_names_for_body do %><% end %>

<%= render :partial => 'shared/global_nav' %>

<div class="section">
  <div class="wrapper">

    <div class="song-show tile bg-white">
  
      <%# ----- Song Header ----- %>
      <section class='song-head'>
        <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/AvettBrothers.jpg" />
        <h1>Live and Die</h1>
        <p>by <strong>The Avett Brothers</strong> from the album <strong>The Carpenter</strong> released in <strong>2012</strong></p>
      </section>
      
      <%# ----- Song Secondary Nav ----- %>
      <div class="song-nav">
        <ul>
          <li><a class="active" href="#lyrics">Lyrics</a></li>
          <li><a href="#notes_tabs">Notes &amp; Tabs</a></li>
          <li><a href="#videos">Videos</a></li>
          <li><a href="#chord_progressions">Chord Progressions</a></li>
          <li><a href="#song_info">Song Info</a></li>
          <li class="fb-like-wrapper"><div class="fb-like" style="margin-top: 6px;" data-href="<%= @page_url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui" data-action="recommend"></div></li>
        </ul>
      </div> <!-- end: .song-nav -->

      <%# ----- Song Lyrics ----- %>    
      <section id="lyrics">
        <h2 class="ribbon" style="display:none;">Lyrics</h2>
        <%= render :partial => '_song_lyrics_2' %>
      </section>
      
      <%# ----- Notes and Tabs ----- %>
      <section id="notes_tabs">
        <h2 class="ribbon">Notes &amp; Tabs</h2>
        <%= render :partial => '_song_tabs_1' %>
      </section>
      
      <%# ----- Videos ----- %>
      <section id="videos">
        <h2 class="ribbon">Listen &amp; Play</h2>
        <%= render :partial => '_song_listen_play' %>
      </section>
      
      <%# ----- Chord Progressions ----- %>
      <section id="chord_progressions">
        <h2 class="ribbon">Chord Progressions</h2>
        <%= render :partial => '_song_chord_prog' %>
      </section>
      
      <%# ----- About Song ----- %>
      <section id="song_info">
        <h2 class="ribbon">About This Song</h2>
        <%= render :partial => '_song_about' %>
      </section>

    </div>
    
    <div class="tight">
      <h3>Other songs by The Avett Brothers</h3>
    </div> <!-- end: .tight -->
    
    <div class="song-list">
      <ul>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Whitesnake.jpg);">
            <h4>Here I Go Again</h4>
            <p>by <strong>Whitesnake</strong> from the album <strong>Saints &amp; Sinners</strong> released in <strong>1981</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/RickyNelson.jpg);">
            <h4>Lonesome Town</h4>
            <p><strong>Ricky Nelson</strong></p>
          </a>
        </li>
      </ul>
    </div> <!-- end: .song-list -->

    <div class="tight">
      <h3>Other songs released in 2012</h3>
    </div> <!-- end: .tight -->
    
    <div class="song-list">
      <ul>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Whitesnake.jpg);">
            <h4>Here I Go Again</h4>
            <p>by <strong>Whitesnake</strong> from the album <strong>Saints &amp; Sinners</strong> released in <strong>1981</strong></p>
          </a>
        </li>
        <li>
          <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/RickyNelson.jpg);">
            <h4>Lonesome Town</h4>
            <p><strong>Ricky Nelson</strong></p>
          </a>
        </li>
      </ul>
    </div> <!-- end: .song-list -->

  </div> <!-- end: .wrapper -->
</div> <!-- end: .section -->

<div class="section bg-dkGrey">
  <div class="wrapper">

    <div class="tight">
      <h3 style="margin-top: 20px">Recently added to Songnotes</h3>
      <p>I typically learn one new song each week &ndash; here's what I've been playing the last few months. Click any song to view its lyrics, chords, guitar tabs, and video lessons.</p>
    </div> <!-- end: .tight -->
    <ul class="featured-songs">
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Whitesnake.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>Here I Go Again</h4>
            <p><strong>Whitesnake</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Train.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>Hey Soul Sister</h4>
            <p><strong>Train</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Kinks.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>Lola</h4>
            <p><strong>The Kinks</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/Chvrches.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>The Mother We Share</h4>
            <p><strong>Chvrches</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/RickyNelson.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>Lonesome Town</h4>
            <p><strong>Ricky Nelson</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/VampireWeekend.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>Ya Hey</h4>
            <p><strong>Vampire Weekend</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/FatherJohnMisty.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>Only Son of The Ladiesman</h4>
            <p><strong>Father John Misty</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
      <li>
        <a href="" style="background-image: url(http://fireflygrove.com/songnotes/images/artists/ViolentFemmes.jpg); background-size: 220px 220px; background-repeat: no-repeat;">
          <div class="label">
            <h4>American Music</h4>
            <p><strong>Violent Femmes</strong></p>
          </div> <!-- end: .label -->
        </a>
      </li>
    </ul>

  </div> <!-- end: .wrapper -->
</div> <!-- end: .section -->