<% content_for :extra_class_names_for_body do %><% end %>

<%= render "sandbox/sandbox_nav" %>

<div class="section">
  <div class="wrapper">

    <div class="grid">
      <div class="unit span-grid bg-white song-show">
  
        <%# ----- Song Header ----- %>
        <section class='song-head'>
          <img class="thumb" src="http://fireflygrove.com/songnotes/images/artists/AvettBrothers.jpg" />
          <h1>Live and Die</h1>
          <p>by <strong>The Avett Brothers</strong> from the album <strong>The Carpenter</strong> released in <strong>2012</strong></p>
        </section>
        
        <%# ----- Song Secondary Nav ----- %>
        <div class="song-nav">
          <ul>
            <li><a class="active" href="#lyrics">Lyrics</a></li>
            <li><a href="#notes_tabs">Notes &amp; Tabs</a></li>
            <li><a href="#videos">Videos</a></li>
            <li><a href="#chord_progressions">Chord Progressions</a></li>
            <li><a href="#song_info">Song Info</a></li>
            <li class="fb-like-wrapper"><div class="fb-like" style="margin-top: 6px;" data-href="<%= @page_url %>" data-send="false" data-layout="button_count" data-width="450" data-show-faces="false" data-font="segoe ui" data-action="recommend"></div></li>
          </ul>
        </div> <!-- end: .song-nav -->

        <%# ----- Song Lyrics ----- %>    
        <section id="lyrics">
          <%= render :partial => '_song_lyrics_2' %>
        </section>
        
        <%# ----- Notes and Tabs ----- %>
        <section id="notes_tabs">
          <h2 class="ribbon">Notes &amp; Tabs</h2>
          <%= render :partial => '_song_tabs_1' %>
        </section>
        
        <%# ----- Videos ----- %>
        <section id="videos">
          <h2 class="ribbon">Listen &amp; Play</h2>
          <%= render :partial => '_song_listen_play' %>
        </section>
        
        <%# ----- Chord Progressions ----- %>
        <section id="chord_progressions">
          <h2 class="ribbon">Chord Progressions</h2>
          <%= render :partial => '_song_chord_prog' %>
        </section>
        
        <%# ----- About Song ----- %>
        <section id="song_info">
          <h2 class="ribbon">About This Song</h2>
          <%= render :partial => '_song_about' %>
        </section>

      </div> <!-- end: .unit .song_show -->
    </div> <!-- end: .grid -->
    
    <h3>Recently added to Songnotes</h3>
    <p>I typically learn one new song each week and add it to the site. Here is what I’ve been playing lately:</p>
    
    <div class="grid">
      <div class="unit span-grid tiles">
        <ul>
          <li class="bg-white">
            <a href="">
              <h4>Here I Go Again</h4>
              <p>by <strong>Whitesnake</strong> from the album <strong>Saints &amp; Sinners</strong> released in <strong>1981</strong></p>
            </a>
          </li>
        </ul>
        <p><a href="">Banana Pancakes</a><br /><span>2005</span></p>
        <p><a href="">Drink the Water</a><br /><span>2001</span></p>
        <p><a href="">Mudfootball</a><br /><span>2001</span></p>
      </div> <!-- end: .unit span-grid -->
    </div> <!-- end: .grid -->







  </div> <!-- end: .wrapper -->



  <div class="content content-island">
    <dl class="tile-v4">
      <dt>Other songs from 2008...</dt>
      <dd><a href=""><strong>Hospitals and Jails</strong><span>Mason Jennings</span></a></dd>
      <dd><a href=""><strong>Cape Canaveral</strong><span>Conor Oberst</span></a></dd>
      <dd><a href=""><strong>Furr</strong><span>Blitzen Trapper</span></a></dd>
    </dl>
  </div> <!-- end: .content .content-island .song_show -->

</div> <!-- end: .container -->

<div class="full-bleed wrap-color-primary">
  <div class="container">
    <div class="content" style="padding: 20px 0 0;">
      <h2>Recently Added to Songnotes</h2>
      <div class="tile-v5-wrap">
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>The Avett Brothers</strong>
            <span>Live and Die</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Father John Misty</strong>
            <span>Hollywood Cemetery Forever Sings</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Mason Jennings</strong>
            <span>Hospitals and Jails</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Taylor Swift</strong>
            <span>We Are Never Ever Getting Back Together</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Father John Misty</strong>
            <span>I'm Writing a Novel</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Bob Dylan</strong>
            <span>Shelter from the Storm</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Pearl Jam</strong>
            <span>Elderly Woman Behind the Counter in a Small Town</span>
          </h2>
        </a>
        <a class="tile-v5" href="">
          <img src="" />
          <h2>
            <strong>Johnny Cash</strong>
            <span>Folsom Prison Blues</span>
          </h2>
        </a>
      </div> <!-- end: .tile-v5-wrap -->
    </div>
  </div>
</div>

<div class="full-bleed wrap-color-dkGrey">
  <div class="container">
    <div class="content" style="padding: 20px 0 18px; margin-bottom: -5px;">
      <br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br /><br />
    </div>
  </div>
</div>

<div class="container">

  <div class="content content-island">
    <h2 class="ribbon">Browse All Songs...</h2>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Arcade Fire</dt>
      <dd><a href=""><strong>Half Light I</strong></a></dd>
      <dd><a href=""><strong>Half Light II (No Celebration)</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Ben Harper</dt>
      <dd><a href=""><strong>The Drugs Don't Work</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bill Withers</dt>
      <dd><a href=""><strong>Lean On Me</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Blitzen Trapper</dt>
      <dd><a href=""><strong>Furr</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bob Dylan</dt>
      <dd><a href=""><strong>Shelter from the Storm</strong></a></dd>
      <dd><a href=""><strong>Tangled Up in Blue</strong></a></dd>
      <dd><a href=""><strong>The Man in Me</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bob Marley</dt>
      <dd><a href=""><strong>Redemption Song</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Bryan Adams</dt>
      <dd><a href=""><strong>Summer of '69</strong></a></dd>
    </dl>
    <dl class="tile-v4 with-thumb">
      <img src="" />
      <dt>Cat Stevens</dt>
      <dd><a href=""><strong>Father and Son</strong></a></dd>
      <dd><a href=""><strong>Moonshadow</strong></a></dd>
    </dl>
  </div> <!-- end: .content -->
</div> <!-- end: .container -->