<!DOCTYPE html>
<html>
<head>
  <title>admin</title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>
<body class="<%= "admin" if ((action_name == "admin") || (action_name == "new") || (action_name == "edit") || (action_name == "details")) %>">
  <%= render "shared/admin_nav" %>
  <%= yield %>
</body>
</html>
