<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Songnotes :: Hand-Crafted Guitar Tabs, Chords, and Lyrics" %></title>

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <script type="text/javascript" src="https://apis.google.com/js/plusone.js"></script>

  <%# Loads the meta tags %>
  <%= render :partial => 'layouts/meta_preload' %>

  <%# Loads the <link> tag that enables Google Fonts usage %>
  <%= render :partial => 'layouts/googlefonts_preload' %>

  <%# Loads the required JS that enables Google Analytics tracking %>
  <%#= render :partial => 'layouts/googleanalytics_preload' %>

</head>
<body class="<%= klass_pagename + klass_extra %>">

  <%# Loads the required JS that enables Facebook "Like" button usage %>
  <%= render :partial => 'layouts/facebook_preload' %>

  <%= yield %>

</body>
</html>