<!DOCTYPE html>
<html>
<head>
  <title><%= content_for?(:title) ? content_for(:title) : "Songnotes :: Hand-Crafted Guitar Tabs, Chords, and Lyrics" %></title>
  <meta name="description" content="<%= content_for?(:description) ? content_for(:description) : "Songnotes provides guitar tabs, chords, and lyrics to your favorite songs. All tabs are hand-crafted by @davidpots." %>">
  <meta name="google-site-verification" content="-k15quufCzoJ4igMiFVldZfqbthfpAGbTFLAZTq3knw" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>

  <script type="text/javascript" src="http://www.pgrady.com/scripts/iosbugfix.js"></script> 

  <link href='http://fonts.googleapis.com/css?family=<%= @google_font_OpenSans %>|<%= @google_font_SourceCodePro %>' rel='stylesheet' type='text/css'>



</head>
<body>
<div style="background: #158ECE;position:fixed;top:0;width:100%;z-index:1">
  <div class="container">
    <ul style="position: relative;margin:0 0 0 -1px;padding:0 1px 0 0;width:100%;overflow:hidden;border-right:1px solid #1D69A5;">
      <li style="box-shadow: inset 1px 0px 0px #1D69A5;line-height:48px;list-style:none;float:left;margin:0;padding:0;width:25%;background:#158ECE;text-align:center;color:#fff;">first</li>
      <li style="box-shadow: inset 1px 0px 0px #1D69A5;line-height:48px;list-style:none;float:left;margin:0;padding:0;width:25%;background:#1D69A5;text-align:center;color:#fff;">second</li>
      <li style="box-shadow: inset 1px 0px 0px #1D69A5;line-height:48px;list-style:none;float:left;margin:0;padding:0;width:25%;background:#158ECE;text-align:center;color:#fff;">third</li>
      <li style="box-shadow: inset 1px 0px 0px #1D69A5;line-height:48px;list-style:none;float:left;margin:0;padding:0;width:25%;background:#158ECE;text-align:center;color:#fff;">fourth</li>
    </ul>
  </div>
</div>
  <div class="container">
    <%= yield %>
  </div> <!-- end: .container -->
</body>
</html>
